/* prototype_w_concept.css */
#wrap {
    padding: 50px;
    width: 1250px; height: 1024px;
    overflow: hidden;
    margin: 0 auto;
}
#wrap h1 {
    font-size: 1.125rem;font-weight: 500;
    margin-bottom: 20px;
}
#wrap .up_stair {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; height: auto;
    margin-bottom: 80px;
}
#wrap .up_stair .left_thum {width: 500px; height: 500px; background-color: darkseagreen;}
#wrap .up_stair .left_thum a {
    display: block; overflow: hidden;
    width: 100%; height: 100%;
}
#wrap .up_stair .left_thum a img {
    width: auto; height: 100%;
    transform: translateX(-100px);
}
#wrap .up_stair .right {
    display: flex; flex-flow: column nowrap; 
    justify-content: space-between;
}
#wrap .up_stair .right  .right_text {}
#wrap .up_stair .right  .right_text h2 {font-size: 2.5rem;font-weight: 600; margin-bottom: 10px;}
#wrap .up_stair .right  .right_text p {font-size: 0.813rem; color: #888;}
#wrap .up_stair .right  .right_thum {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
#wrap .up_stair .right  .right_thum li {}
#wrap .up_stair .right  .right_thum li a {width: 180px; display: block;}
#wrap .up_stair .right  .right_thum li a img {width: 100%;}
#wrap .up_stair .right  .right_thum li .txt {
    position: relative;
    width: 180; padding: 5px; 
    display: flex; flex-flow: column nowrap; gap: 8px;
    white-space:nowrap;/* 한줄 처리 */
    overflow:hidden;
    text-overflow:ellipsis;
}
#wrap .recommend {}
#wrap .recommend .reco_title {display: flex; flex-flow: row nowrap; justify-content: space-between;}
#wrap .recommend .reco_title p {
    font-size: 1.125rem;font-weight: 500;
    margin-bottom: 20px;
}
#wrap .recommend .reco_title a {font-size: 0.813rem; color: #888;}
#wrap .recommend .reco_thum {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
#wrap .recommend .reco_thum li {}
#wrap .recommend .reco_thum li a {width: 180px; display: block;}
#wrap .recommend .reco_thum li a img {width: 100%;}
#wrap .recommend .reco_thum li .txt {
    position: relative;
    width: 180px; padding: 5px; 
    display: flex; flex-flow: column nowrap; gap: 8px;
    white-space:nowrap;/* 한줄 처리 */
    overflow:hidden;
    text-overflow:ellipsis;
}
#wrap .recommend .reco_thum li .txt .brand,
#wrap .up_stair .right  .right_thum li .txt .brand {font-size: 0.813rem; font-weight: 600;}
#wrap .recommend .reco_thum li .txt button,
#wrap .up_stair .right  .right_thum li .txt button {width: 18px; position: absolute; right: 0; top:7px}
#wrap .recommend .reco_thum li .txt button img,
#wrap .up_stair .right  .right_thum li .txt button img {width: 100%; height: auto;}
#wrap .recommend .reco_thum li .txt .name,
#wrap .up_stair .right  .right_thum li .txt .name {font-size: 0.75rem; color: #777;}
#wrap .recommend .reco_thum li .txt .price,
#wrap .up_stair .right  .right_thum li .txt .price {display: flex; flex-flow: row nowrap; gap: 5px;}
#wrap .recommend .reco_thum li .txt .price .sale,
#wrap .up_stair .right  .right_thum li .txt .price .sale {color: #FF5514; font-weight: 600;}
#wrap .recommend .reco_thum li .txt .price .price_text,
#wrap .up_stair .right  .right_thum li .txt .price .price_text {font-weight: 600;}
