#wrap {width: 1920px; }
#wrap main {}
#wrap main .path {
    display: flex; flex-flow: row nowrap; gap: 10px; justify-content: end;
    padding: 14px 80px;
    border: 1px solid var(--color-grayf);
}
#wrap main .path * {font-size: var(--text-sub12); color: var(--color-gray4);}
#wrap main .path a {}
#wrap main .path img {}
#wrap main .path .current {}
#wrap main h1 {
    font-size: var(--text-title50); font-weight: var(--weight-bold);
    text-align: center; margin: 54px 0 30px;
}
#wrap main > p {
    font-size: var(--text-title18); line-height: var(--line-contents); font-weight: var(--weight-medium); color: var(--color-gray8);
    text-align: center; margin-bottom: 41px;
}
#wrap main .bg {padding-top: 71px; background-color: var(--color-grayfc);}
#wrap main .bg > * {width: var(--width-content); margin: 0 auto;}
#wrap main .bg > *:nth-child(odd) {}
#wrap main .bg > p {font-size: var(--text-title18); font-weight: var(--weight-medium); line-height: var(--line-contents); text-align: center;}
#wrap main .bg > p:nth-child(1), #wrap main .bg > p:nth-child(2) {padding-bottom: 26px;}
#wrap main .bg > p:nth-child(3) {margin-bottom: 54px;}
#wrap main .bg > h2 {
    font-size: var(--text-contents21); font-weight: var(--weight-medium); line-height: var(--line-contents);
    color: var(--color-point); text-align: center;
    padding: 54px 0 25px; border-top: 1px solid var(--color-grayd);
}
#wrap main .bg > h3 {
    font-size: var(--text-title31) ; font-weight: var(--weight-medium) ; line-height: var(--line-contents); 
    text-align: center; margin-bottom: 84px;
}
#wrap main .bg .goal_list {
    display: flex; flex-flow: row nowrap; justify-content: center;
    margin-bottom: 54px;
}
#wrap main .bg .goal_list li {
    width: 250px; height: 250px;
    border-radius: 50%;
    display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;
    filter:drop-shadow(0 0 5px rgba(0,0,0,0.3));
}
#wrap main .bg .goal_list li:nth-child(1) {background-color: var(--color-point); color: var(--color-white);}
#wrap main .bg .goal_list li:nth-child(1) img {filter: invert(1);}
#wrap main .bg .goal_list li:nth-child(2) {background-color: var(--color-white); margin: 0 -10px;} 
#wrap main .bg .goal_list li:nth-child(3) {background-color: var(--color-pointY); color: var(--color-white);}
#wrap main .bg .goal_list li:nth-child(3) img {filter: invert(1);}
#wrap main .bg .goal_list li img {display: block; width: 50px; height: 50px;}
#wrap main .bg .goal_list li span {
    font-size: var(--text-title24); font-weight: var(--weight-medium);
    display: block; margin: 15px 0 0;
}
#wrap main .bg .stretegy_list {
    display: flex; flex-flow: row nowrap; justify-content: center;
    margin-bottom: 180px;
}
#wrap main .bg .stretegy_list li {
    display: flex; flex-flow: column nowrap; justify-content: flex-start;
    width: 180px; height: 180px;
    border-radius: 50%;
    background-color: var(--color-grayf);
    filter:drop-shadow(0 0 5px rgba(0,0,0,0.3));
    margin: 0 -5px;
}
#wrap main .bg .stretegy_list li h3 {
    padding: 50px 50px 0 ; font-size: var(--text-title18) ; font-weight: var(--weight-bold); text-align: center;
    line-height: var(--line-contents120); text-decoration: underline;
}
#wrap main .bg .stretegy_list li p {padding: 10px 15px 0; line-height: var(--line-contents120); text-align: center;}